@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #566062, #1f2121);

}

.main-title-div {
    display: flex;
    justify-content: space-between;
}

.main-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 78px;
    text-align: center;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    color: #eba809;
}


.main-title-marathi {
    font-size: 36px;
    margin-top: -45px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 52px;
    color: white;
}

.card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url('../images/1.png');
}

.card--2 .card__img,
.card--2 .card__img--hover {
    background-image: url('../images/2.png');
}

.card--3 .card__img,
.card--3 .card__img--hover {
    background-image: url('../images/3.png');
}

.card--4 .card__img,
.card--4 .card__img--hover {
    background-image: url('../images/4.png');
}

.card--5 .card__img,
.card--5 .card__img--hover {
    background-image: url('../images/5.jpg');
}

.card--6 .card__img,
.card--6 .card__img--hover {
    background-image: url('../images/6.png');
}

.card--7 .card__img,
.card--7 .card__img--hover {
    background-image: url('../images/7.png');
}

.card--8 .card__img,
.card--8 .card__img--hover {
    background-image: url('../images/8.png');
}

.card--9 .card__img,
.card--9 .card__img--hover {
    background-image: url('../images/9.png');
}

.card--10 .card__img,
.card--10 .card__img--hover {
    background-image: url('../images/10.png');
}

.card--11 .card__img,
.card--11 .card__img--hover {
    background-image: url('../images/11.png');
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

}

.card {
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    max-width: 320px;
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
    text-transform: uppercase;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

.cus-img {
    width: 200px;
    display: block;
    margin-top: 10px;
}

.heading {
    font-size: 48px;
    text-align: center;
    color: #df9209;
    text-decoration: underline;
}

.clg-setion {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.clg-setion h2 {
    color: #22b14d;
    font-size: 42px;
}

@media screen and (max-width:540px) {

    .card {
        width: 100%;
    }

    .title {
        font-size: 32px;
    }

    .main-title {
        font-size: 42px;
    }

    .main-title-marathi {
        font-size: 32px;
        margin-top: -24px;
    }

    .cus-img {
        width: 150px;
    }

    .clg-setion {
        flex-wrap: wrap;
    }

    .clg-setion h2{
        text-align: center;
    }
}